{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets":{
          "browsers": "last 10 versions, > 1%, ie >= 9, Android >= 4.4, iOS >= 8"
        },
        "modules": false,
      },
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"]]
    }
  },
  "plugins": [
    ["@babel/plugin-transform-runtime"]
  ]
}
