{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets":{
          "browsers": "last 2 versions, > 1%, ie >= 10, Android >= 4.4, iOS >= 8"
        },
        "modules": false,
        "useBuiltIns": "usage"
      },
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"]]
    }
  },
  "plugins": [
    ["@babel/plugin-transform-runtime"]
  ]
}
